---
import { Image } from "astro:assets";

import data from "../../data.json";

import auto from "../images/auto1.webp";

import auto2 from "../images/auto2.webp";
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-2 w-full h-full p-5 md:my-20">
  <div class="flex flex-col justify-center items-start h-full">
    <h3 class="text-md font-bold mb-5 text-gray-200">WHAT WE DO</h3>
    <h1 class="text-4xl font-bold mb-5 text-blue-900">FULL-SERVICE</h1>
    <span class="text-4xl font-bold mb-5 text-blue-900">DETAILING FOR CARS</span
    >

    <span class="text-4xl font-bold mb-5 text-blue-600 text-white"
      >Welcome to JJ Hampton Luxury Autowork!</span
    >
    <p class="text-gray-200 text-lg">
      {data["about"]["description"]}
    </p>

    <button
      type="button"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 w-full sm:w-auto focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-base px-6 py-3 text-center mt-5"
    >
      <a href="#contact">Get A Quote</a>
    </button>
  </div>

  <div id="about-image" class="w-full flex items-center justify-center">
    <Image
      class="rounded-lg shadow"
      src={auto2}
      alt="Auto"
      width={500}
      height={500}
    />
  </div>
</div>

<style>
  #about-image {
    height: 500px;
  }
</style>
