---
import { Image } from "astro:assets";

import data from "../../data.json";

import logo from "../../public/images/logo.webp";
---

<nav class="border-b border-gray-500" id="navbar">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-2 md:p-1"
  >
    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <Image
        src="/images/logo.webp"
        class=""
        alt="JJ Hampton Luxury Autowork"
        width={120}
        height={150}
      />
    </a>
    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <button
        type="button"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium text-base rounded-lg text-sm px-6 py-3 text-center"
      >
        <a href="#contact">Contact Us</a>
      </button>

      <button
        data-collapse-toggle="navbar-sticky"
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
        aria-controls="navbar-sticky"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"></path>
        </svg>
      </button>
    </div>
    <div
      class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
      id="navbar-sticky"
    >
      <ul
        class="flex flex-col p-4 md:p-0 mt-4 font-medium md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0"
      >
        {
          data["menu"].map((item) => (
            <li>
              <a
                href={item.link}
                class="block py-2 px-3 text-gray-200 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 text-lg"
              >
                {item.title}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</nav>

<style>
  #navbar {
    background: "rgb(0, 0, 0, 0.5)";
  }
</style>
