---
interface Props {
  title: string;
  image: string;
}

const { title, image } = Astro.props;
---

<div
  class="relative hover:scale-105 transition-transform duration-300 ease-in-out w-full h-80 transition-all duration-300 filter grayscale-0 hover:grayscale"
>
  <img src={image} alt={title} class="w-full h-full object-cover rounded-lg" />
  <div
    class="absolute inset-0 text-xl flex items-center justify-center opacity-0 transition-opacity duration-300 ease-in-out hover:opacity-100"
  >
    <p
      class="text-2xl font-bold mb-5 text-gray-200 text-center"
      id="card-title"
    >
      {title}.
    </p>
  </div>
</div>

<style>
  #card-title {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    color: #8dc6ff;
  }
</style>
